.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    
}

.flex-container>div {
    background-color:#f1f1f1;
    color: white;
    margin: 10px;
    text-align: center;
    /* line-height: 500px; */
    font-size: 30px;
    height: 100%;
    width:100%;
    box-shadow: 0 4px 8px 0 rgb(222 157 157 / 20%);
}
.product-detail{
    font-size: 15px;
    color:black;
    padding-top: 15px;
   
}
.product-title {
    color: black;
  font-style:inherit;
  padding-top: 5px;
    
}
.product-price {
    color: rgb(77, 72, 72);
    font-style: inherit;
    padding-top: 5px;
    
}

